<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{'ACTIVOS.TITULO' | translate}}</h4>
    </div>
    <br>
    <form name="myForm" ng-submit="activos.buscarNomina()">
        <div class="form-group row">
            <div class="col-md-1">
                <label class="col-md-7 col-form-label">{{ 'ACTIVOS.ANIO' | translate }}</label>
            </div>
            <div class="col-md-3">
                <select ng-model="activos.anioPeriodo" ng-init="activos.anioPeriodo" class="form-control" required>
                    <option value="" disabled>{{ 'ACTIVOS.SELECCION_ANIO' | translate }}</option>
                    <option ng-repeat="a in activos.anios" value="{{a.anio}}" required>{{a.anio}}</option>
                </select>
            </div>

            <div class="col-md-1">
                <label class="col-md-7 col-form-label">{{ 'ACTIVOS.MES' | translate }}</label>
            </div>
            <div class="col-md-3">
                <select ng-model="activos.mesPeriodo" ng-init="activos.mesPeriodo" class="form-control" required>
                    <option value="" disabled>{{ 'ACTIVOS.SELECCION_MES' | translate }}</option>
                    <option ng-repeat="(key, value) in activos.meses" value="{{key}}">{{value}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-offset-10 row">
            <button type="submit" class="btn btn-primary btn-outline">{{ 'BTN.BUSCAR' | translate }}</button>
        </div>
    </form>

    <div class="form-group row" ng-if="activos.divNominas">
        <div class="col-md-1">
            <label class="col-md-7 col-form-label"> {{ 'ACTIVOS.SELECCION_NOMINA' | translate }} </label>
        </div>
        <div class="col-md-3">
            <select ng-model="activos.nomina" class="form-control">
                <option ng-repeat="n in activos.nominas" value="{{n}}"><b>{{n.Nomina.Descripcion}}</b></option>
            </select>
        </div>
        <button type="button" class="btn btn-primary btn-outline" name="button" ng-click="activos.nominaSeleccionada()"> {{
            'BTN.VER_REGISTROS' | translate }} </button>
    </div>

    <div class="alert alert-danger" ng-if="activos.divError">
        <strong> {{ 'ERROR' | translate }} </strong><br> {{activos.errorMensaje}}
    </div>

    <loadingcircle load="load"></loadingcircle>
    <div class="panel-body" ng-if="!load && activos.gridOptions.data">
        <hr size="50">
        <table style="width:100%;">
            <td>
                <div ui-grid="activos.gridOptions" ui-grid-selection class="myGrid"></div>
            </td>
            </tr>
        </table>

        <div class="row" ng-if="activos.novedadesDiv">
            <div class="col-sm-6" align="left" style="width:50%;">
                <ingresos-de-cotizacion persona="activos.persona" preliquidacion="activos.nomina"> </ingresos-de-cotizacion>
            </div>
            <div class="col-sm-6" align="rigth" style="width:50%;">
                <concepto-por-persona persona="activos.persona"> </concepto-por-persona>
            </div>
            <br>
            <div class="col-sm-12">
                <upc-detalle-activos persona="activos.persona"> </upc-detalle-activos>
            </div>
        </div>

        <div class="col-md-offset-10 row">
            <button type="button" class="btn btn-primary btn-outline" name="button" ng-click="activos.guardar()"> {{ 'BTN.GUARDAR'
                | translate }} </button>
        </div>
    </div>
</div>