<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Activos</h5>
  </div>
  <div>
    <center>
    <label> Seleccion Nómina </label><br>
    <select ng-model="activos.nomina">
      <option ng-repeat="n in activos.nominas" value="{{n.Id}}">{{n.Nomina.Descripcion}}</option>
    </select>
    <hr>
    <label> Periodo </label><br>
    Año
    <select ng-model="activos.anioPeriodo">
      <option ng-repeat="a in activos.anios" value="{{a}}">{{a.anio}}</option>
    </select>
    Mes
    <select ng-model="activos.mesPeriodo">
      <option ng-repeat="(key, value) in activos.meses" value="{{value}}">{{key}}</option>
    </select>
    <br>
    <button type="button" name="button" ng-click="activos.nominaSeleccionada()"> Buscar </button>
    </center>
  </div>

  <div class="panel-body" ng-if="activos.activosDiv">
    <table style="width:100%;">
      <td>
        <div ui-grid="activos.gridOptions" class="myGrid"></div>
      </td>
    </tr>
  </table>

  <div class="row" ng-if="activos.novedadesDiv">
    <div class="col-sm-6" align="left" style="width:50%;">
      <ingresos-de-cotizacion persona="activos.persona" liquidacion="activos.nomina"> </ingresos-de-cotizacion>
    </div>
    <div class="col-sm-6" align="rigth" style="width:50%;" >
      <concepto-por-persona persona="activos.persona"> </concepto-por-persona>
    </div>
  </div>

</div>

<div class="panel-footer">
  Panel Footer
</div>
</div>

<!--
Año <input type="text" ng-model="activos.anioPeriodo"/>
Mes <input type="text" ng-model="activos.mesPeriodo"/> <br>
-->
