<br>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4>{{'APORTANTE.INFORMACION_APORTANTE' | translate}}</h4>
    </div>
    <div class="panel-body">
      <form role="form">
        <div id="datosAportante">
          <h2>{{ 'APORTANTE.INFORMACION_APORTANTE' | translate }}</h2>
          <hr />

          <div class="form-group row">
            <label for="input_nombre" class="col-sm-4 col-form-label">{{ 'APORTANTE.NOMBRE' | translate }}</label>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="input_nombre" placeholder="Nombre"
                ng-model="aportante.infoAportante.Nombre">
            </div>
          </div>
           <div class="form-group row">
             <label for="input_identificacion" class="col-sm-4 col-form-label">{{ 'APORTANTE.IDENTIFICACION' | translate }}</label>
             <div class="col-xs-4">
               <input type="text" class="form-control" name="input_identificacion" placeholder="Identificación"
                ng-model="aportante.infoAportante.Identificacion">
            </div>
           </div>

           <div class="form-group row">
             <label for="input_arp" class="col-sm-4 col-form-label">{{ 'APORTANTE.COD_ARL' | translate }}</label>
             <div class="col-xs-4">
               <input type="text" class="form-control" name="input_arp" placeholder="Código ARP"
                ng-model="aportante.infoAportante.CodArl">
             </div>
           </div>

           <div class="form-group row">
             <label for="input_departamento" class="col-sm-4 col-form-label">{{ 'APORTANTE.COD_DEPARTAMENTO' | translate }}</label>
             <div class="col-xs-4">
               <input type="text" class="form-control" name="input_departamento" placeholder="Código Departamento"
                ng-model="aportante.infoAportante.CodDepartamento">
             </div>
           </div>

           <div class="form-group row">
             <label for="input_municipio" class="col-sm-4 col-form-label">{{ 'APORTANTE.COD_MUNICIPIO' | translate }}</label>
             <div class="col-xs-4">
               <input type="text" class="form-control" name="input_municipio" placeholder="Código Municipio"
                ng-model="aportante.infoAportante.CodMunicipio">
             </div>
           </div>
         </div>

         <button type="button" class="col-md-offset-6 btn btn-primary" ng-click="aportante.guardar()">{{ 'BTN.GUARDAR' | translate }}</button>
       </form>
    </div>

    <div class="panel-footer">
        Panel Footer
    </div>
</div>
