<br>
<div class="panel panel-default">
    <div class="panel-heading">
        Parámetros de Cálculo
    </div>
    <div class="panel-body">
      <form role="form">
        <h2> Establecer Parámetros de Cálculo </h2>
        <hr />
        <div id="datosCalculo" class="col-md-6 col-md-offset-2">
          <div class="form-group row">
            <label for="input_resolucion" class="col-sm-2 col-form-label"><strong>Nombre de Resolución</strong></label>
            <div class="col-xs-4">
              <input type="text" class="form-control" name="input_resolucion" placeholder="Nombre">
            </div>
            <small id="resolucionHelp" class="form-text-left text-muted">Escriba el nombre de la resolución al que harán referencía estos valores.</small>
          </div>

          <div class="form-group row">
            <label for="input_pension" class="col-sm-6 col-form-label">Aporte Pensión</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_pension" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_salud" class="col-sm-6 col-form-label">Aporte Salud</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_salud" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_arp" class="col-sm-6 col-form-label">Tarifa ARP</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_arp" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_comision" class="col-sm-6 col-form-label">Comisión no Remunerada</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_comision" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_licencia" class="col-sm-6 col-form-label">Licencia no Remunerada</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_licencia" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_caja" class="col-sm-6 col-form-label">Tarifa de Caja de Compensación Familiar</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_caja" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input_icbf" class="col-sm-6 col-form-label">Aporte ICBF</label>
            <div class="col-xs-4">
              <div class="input-group">
                <input type="text" name="input_icbf" class="form-control"/>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
         </div>

         <button type="button" class="col-md-offset-6 btn btn-primary">Guardar</button>
       </form>
    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
