<br>
<div class="panel panel-default">
    <div class="panel-heading">
        cambio_entidad.
    </div>
    <div class="panel-body">

      <div class="form-group row">
        <label > Selecciona </label>
      </div>

      <div class="form-group row">
        <label for="input_persona" class="col-sm-4 col-form-label col-md-offset-1"> Responsable </label>
        <div class="col-xs-4">
            <md-autocomplete ng-disabled="cambioEntidad.isDisabled"
            md-no-cache="cambioEntidad.noCache"
            md-selected-item="cambioEntidad.selectedItem"
            md-search-text-change="cambioEntidad.searchTextChange(cambioEntidad.searchText)"
            md-search-text="cambioEntidad.searchText"
            md-selected-item-change="cambioEntidad.selectedItemChange(item)"
            md-items="item in cambioEntidad.querySearch(cambioEntidad.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Responsable">
            <md-item-template>
              <span md-highlight-text="cambioEntidad.searchText" md-highlight-flags="^i">{{item.display}}</span>
            </md-item-template>
            <md-not-found>
              No se encontraron resultados de  "{{cambioEntidadcidades.searchText}}".
            </md-not-found>
          </md-autocomplete>
      </div>
    </div>

    </div>
    <div class="panel-footer">
        Panel Footer
    </div>
</div>
