<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4> {{ 'INCAPACIDADES.TITULO' | translate }} </h4>
    </div>
    <div class="panel-body">
      <form method="post" ng-init="incapacidades.getProveedores()" name="myForm" ng-submit="incapacidades.test()">
        <div class="row">
          <div class="col-md-3 col-md-offset-2">
            <label> {{ 'INCAPACIDADES.NOMBRE' | translate }} </label>
          </div>
          <div class="col-md-4">
            <md-autocomplete flex required
            md-input-name="autocompleteField"
            md-input-minlength="2"
            md-input-maxlength="18"
            md-menu-class="autocomplete-custom-template"
            md-menu-container-class="custom-container"
            md-no-cache="incapacidades.noCache"
            md-selected-item="incapacidades.selectedItem"
            md-search-text="incapacidades.searchText"
            md-search-text-change="incapacidades.searchTextChange(incapacidades.searchText)"
            md-selected-item-change="incapacidades.selectedItemChange(item)"
            md-items="item in incapacidades.querySearch(incapacidades.searchText)"
            md-item-text="item.display"
            md-floating-label="Ingrese el número de documento">
            <md-item-template>
                <span class="item-title">
                  <span> {{item.display}} </span>
                </span>
                <span class="item-metadata">
                  <span>
                    Documento: <strong>{{item.tipoDocumento}} {{item.value}}</strong>
                  </span>
                </span>
              </md-item-template>
            <md-not-found>
              {{ 'INCAPACIDADES.SIN_RESULTADOS' | translate }} "{{incapacidades.searchText}}".
            </md-not-found>
          </md-autocomplete>
        </div>
        <br>
        <div class="alert alert-danger" ng-if="incapacidades.noContrato">
          {{incapacidades.noContrato}}
        </div>
      </div>
      <br>

      <div class="form-group row">
          <div>
              <div class="col-md-2 col-md-offset-2">
                <label> {{ 'INCAPACIDADES.TIPO_DOCUMENTO' | translate }} </label>
              </div>
              <div class="col-md-2">
                    {{incapacidades.tipoDocumento}}
                </div>

              <div class="col-md-2">
                  <label> {{ 'INCAPACIDADES.NUM_DOCUMENTO' | translate }} </label>
              </div>
              <div class="col-md-2">
                  {{incapacidades.numeroDocumento}}
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <label> {{ 'INCAPACIDADES.TIPO' | translate }} </label>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="col-md-12" ng-if="!incapacidades.tipoIncapacidad">{{ 'INCAPACIDADES.SELECCIONE_OPCION' | translate }} <span class="caret"></span></div>
          <div class="col-md-12" ng-if="incapacidades.tipoIncapacidad">{{incapacidades.tipoIncapacidad.AliasConcepto}}<span class="caret"></span></div>
        </button>
        <ul class="dropdown-menu">
          <li ng-repeat="i in incapacidades.listaIncapacidades" ng-click="incapacidades.setTipoIncapacidad(i)" value="{{i.Id}}"><a href="">{{i.AliasConcepto}}</a></li>
        </ul>
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label class="col-md-3 col-md-offset-2 control-label" for="txtFechaDesde">{{ 'INCAPACIDADES.FECHA_INCIO' | translate }}</label>
      <div class="col-md-4">
        <md-datepicker id="txtFechaDesde" name="txtFechaDesde" ng-model="incapacidades.fechaDesde" md-placeholder="Fecha de inicio" required></md-datepicker>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-md-offset-2 control-label" for="txtFechaDesde">{{ 'INCAPACIDADES.FECHA_FIN' | translate }}</label>
      <div class="col-md-4">
        <md-datepicker id="txtFechaDesde" name="txtFechaDesde" ng-model="incapacidades.fechaHasta" md-mindate="incapacidades.minDate()" md-placeholder="Fecha de inicio" required></md-datepicker>
      </div>
    </div>
    <div class="alert alert-warning" ng-if="incapacidades.alerta">
      {{incapacidades.alerta}}
    </div>
  </div>

  <div class="panel-footer">
    <div class="col-md-offset-5">
      <button type="submit" name="button" ng-click="incapacidades.registrarIncapacidad()" class="btn btn-success btn-output"> {{ 'BTN.REGISTRAR' | translate }} </button>
    </div>
  </form>
</div>
</div>
</div>
