
<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a href="" class="navbar-brand" ng-click="toggleLeft()">
              <i class="fa fa-university faa-shake animated-hover" aria-hidden="true"></i>
          </a>
      <a class="navbar-brand" ng-click="redirect_url('/')">
        <a class="navbar-brand" ng-href="#/">Seguridad Social</a>
          </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="nivel_1 in ::my_menu">
          <a ng-if="nivel_1.Opciones === null && nivel_1.TipoOpcion === 'Menú'" ng-click="redirect_url('/' + nivel_1.Url)">
          {{nivel_1.Nombre}}
        </a>
        </li>
        <li ng-repeat="nivel_1 in ::my_menu" class="dropdown">
          <a ng-if="nivel_1.Opciones !== null && nivel_1.TipoOpcion === 'Menú'" class="dropdown-toggle" data-toggle="dropdown">
            {{nivel_1.Nombre}} <b class="caret">
          </b>
        </a>
          <ul class="dropdown-menu">
            <li ng-repeat="nivel_2 in nivel_1.Opciones">
              <a ng-click="redirect_url('/' + nivel_2.Url)" ng-if="nivel_2.Opciones === null && nivel_2.TipoOpcion === 'Menú'">
              {{nivel_2.Nombre}}
            </a>
            </li>
            <li class="dropdown dropdown-submenu" aria-haspopup="true" aria-expanded="false" ng-repeat="nivel_2 in nivel_1.Opciones">
              <a class="dropdown-toggle" data-toggle="dropdown" ng-if="nivel_2.Opciones !== null && nivel_2.TipoOpcion === 'Menú'">
              {{nivel_2.Nombre}}
            </a>
              <ul class="dropdown-menu ">
                <li ng-repeat="nivel_3 in nivel_2.Opciones ">
                  <a ng-click="redirect_url('/' + nivel_3.Url)" ng-if="nivel_3.Opciones == null && nivel_3.TipoOpcion==='Menú' ">
                  {{nivel_3.Nombre}}
                </a>
                </li>
                <li class="dropdown dropdown-submenu " aria-haspopup="true " aria-expanded="false " ng-repeat="nivel_3 in nivel_2.Opciones ">
                  <a class="dropdown-toggle " data-toggle="dropdown " ng-if="nivel_3.Opciones !== null && nivel_3.TipoOpcion==='Menú' ">{{nivel_3.Nombre}}
                </a>
                  <ul class="dropdown-menu ">
                    <li ng-repeat="nivel_4 in nivel_3.Opciones ">
                      <a ng-click="redirect_url('/' + nivel_4.Url)" ng-if="nivel_4.TipoOpcion === 'Menú' ">
                      {{nivel_4.Nombre}}
                    </a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
  
        <!-- /.dropdown Notifications-->
        <li class="dropdown ">
          <a class=" notificacion_vista dropdown-toggle " data-toggle="dropdown" ng-if="notificacion.no_vistos()> 0">
                      <i class="fa fa-bell fa-fw faa-ring animated"></i>{{notificacion.no_vistos()}}
                      <i class="fa fa-caret-down"></i>
                  </a>
          <a class="dropdown-toggle" data-toggle="dropdown" ng-if="notificacion.no_vistos() == 0">
                      <i class="fa fa-bell fa-fw"></i>
                      <i class="fa fa-caret-down"></i>
                  </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li ng-repeat=" notificacion in notificacion.log | limitTo:6">
              <a ng-click="notificacion.viewed = true">
                <div>
                  <i ng-if="! notificacion.viewed" class="fa fa-comment fa-fw "></i>
                  <i ng-if="notificacion.viewed" class="fa fa-check-circle"></i>
                  <strong>{{notificacion.user}}</strong>
                  <span class="pull-right text-muted">
                  <em><span am-time-ago="notificacion.FechaCreacion"></span></em>
                  </span>
                </div>
                <div ng-if="! notificacion.viewed">{{notificacion.message | limitTo:100}} ...</div>
                <div ng-if="notificacion.viewed">{{notificacion.message| limitTo:100}} ...</div>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="text-center" ng-click="redirect_url('/notificaciones')">
                              <strong>Ver todas las notificaciones</strong>
                              <i class="fa fa-angle-right"></i>
                          </a>
            </li>
          </ul>
        </li>
        <!-- /.dropdown -->
        <li class="dropdown" ng-show="token_service.live_token()">
          <a class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                      </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li>
              <a ng-click="">
                   <i class="fa fa-sign-in fa-fw"></i> {{token.sub}}</a>
              </a>
            </li>
            <li>
              <a ng-click="logout()">
                  <i class="fa fa-gear fa-fw"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>
  <div id="loading-bar-container"></div>
  <ul class="breadcrumb">
    <li ng-repeat="option in breadcrumb" ng-if="option === ''" class="breadcrumb-item">
      <a href="#"><i class="fa fa-home" aria-hidden="true"></i>{{option}}</a>
    </li>
    <li ng-repeat="option in breadcrumb" ng-if="$middle" class="breadcrumb-item">
      <a href="#">{{option}}</a>
    </li>
    <li ng-repeat="option in breadcrumb" ng-if="$last" class="breadcrumb-item active">
      {{option}}
    </li>
    <div class="pull-right" style="margin-top:-6px">
      <a id="es" name="es" class="{{language.es}}" ng-click="changeLanguage('es')"></i> es</a>
      <a id="en" mane="en" class="{{language.en}}" ng-click="changeLanguage('en')"></i> en</a>
    </div>
  </ul>
  <div layout="column" ng-cloak>
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left" md-component-id="left">
        <md-content>
          <div ng-repeat="app in menu_app">
            <img class="menu-app" id="{{app.id}}" class="img-circle" style="max-width:50px"
             alt='{{app.id}} image' />
            </img>
          <a  title="{{app.title}}" ng-click="redirect_url(app.url)" target="_blank">
                      {{app.id}}
                  </a>
          </div>
        </md-content>
      </md-sidenav>
    </section>
  </div>
