<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      notificaciones.
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" ng-model="buscador" placeholder="Filtrar Notificación">
          </div>
        </div>
      </div>
      <br>
      <md-content style="height: 500px;">
        <md-subheader class="md-warn">Notificaciones Pendientes</md-subheader>
        <div ng-repeat="m in notificacion.log | filter:{ $: buscador}" ng-if="!m.viewed">
          <md-list-item class="md-3-line" ng-click="m.viewed = true">
            <img ng-src="{{imagePath}}" class="img-responsive img-thumbnail" alt="No funciona">
            <div class="md-list-item-text">
              <h3>{{"Usuario:\t" + m.user}}</h3>
              <p>{{"Mensaje: \t" + m.message}}</p>
              <em><span am-time-ago="m.date"></span></em>
            </div>
          </md-list-item>
        </div>
        <md-subheader class="md-primary">Notificaciones Vistas</md-subheader>
        <div ng-repeat="m in notificacion.log | filter:{ $: buscador}" ng-if="m.viewed">
          <md-list-item class="md-3-line" ng-click="">
            <img ng-src="{{imagePath}}" class="img-responsive img-thumbnail" alt="No funciona">
            <div class="md-list-item-text">
              <h3>{{m.user}}</h3>
              <p>{{m.message}}</p>
              <em><span am-time-ago="m.date"></span></em>
            </div>
        </div>
        </md-list-item </md-content>
    </div>
  </div>
</div>
