<div class="row">
    <button type="button" class="btn btn-primary  btn-outline" ng-click="pdfgen.view_pdf()">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-outline" ng-click="pdfgen.save_pdf()">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-outline" ng-click="pdfgen.print_pdf()">
        <i class="fa fa-print" aria-hidden="true"></i>
    </button>
</div>
