<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Planillas</h4>
  </div>
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-md-1">
        <label class="col-md-7 col-form-label"> Año </label>
      </div>
      <div class="col-md-3">
        <select ng-model="planillas.anioPeriodo" ng-init="planillas.anioPeriodo" class="form-control">
          <option ng-repeat="a in planillas.anios" value="{{a.anio}}">{{a.anio}}</option>
        </select>
      </div>

      <div class="col-md-1">
        <label class="col-md-7 col-form-label"> Mes </label>
      </div>
      <div class="col-md-3">
        <select ng-model="planillas.mesPeriodo" ng-init="planillas.mesPeriodo" class="form-control">
          <option ng-repeat="(key, value) in planillas.meses" value="{{value}}">{{key}}</option>
        </select>
      </div>
    </div>
    <button ng-click="planillas.genearArchivo()">Generar Planilla</button>
    <div class="alert alert-warning" ng-if="planillas.divAlerta">
      <strong>Alerta!</strong><br> {{planillas.errorAlerta}}
    </div>
    <div class="alert alert-danger" ng-if="planillas.divError">
      <strong>Error!</strong><br> {{planillas.errorMensaje}}
    </div>
  </div>
</div>
