<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4> Valor UPC Adicional </h4>
  </div>
  <div class="panel-body">

    <fieldset class="form-group" >
      <legend class="text-primary"> Valores Actuales </legend class="text-primary">
        <div>
          <div ui-grid="tipoUpc.gridOptions" ui-grid-selection ui-grid-expandable class="grid"></div>
        </div>
      </fieldset>
      <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ><a ng-href="#/registrar_tipo_upc">Registrar Nuevos Valores</a></button>

      <script type="text/ng-template"  id="expandableRowUpc.html">
        <div ui-grid="row.entity.subGridOptions" class="grid" style="height:250px;"></div>
      </script>

    </div>
  </div>
